body {
    background-image: url('../images/christmas.jpg');
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    color: white;
    letter-spacing: 2px;
}

h2 {
    font-weight: bolder;
    color: red;
}

h1 {
    font-size: 60px;
    color: red;
    font-weight: bolder;
    color: black;
    -webkit-text-fill-color: red; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#mainScreen {
    background-repeat: no-repeat;
    width: 35%;
    margin: 0 auto;
    border-radius: 5px;
}

.black-background {
    background-color: #000000;
}

.white {
    color: #ffffff;
    
}

.mainBox {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
    margin-top: 40%;
}

.answerBox {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
    font-weight: bold;
}

.wrongBox {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
}

label {
    color: rgb(248, 6, 6);
    color: black;
    -webkit-text-fill-color: red; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#answerScreen {
    display: none;
    background-repeat: no-repeat;
    width: 40%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 21px;
    color: black;
    -webkit-text-fill-color: red; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#timesUp {
    display: none;
    background-repeat: no-repeat;
    width: 35%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 21px;
}

.up {
    color: red;
    
}

.timeRemain {
    padding: 2%;
    color: red;
}

.timeRemain #time-remain {
    font-size: 60px;
}

body .container {
    height: 100%;
    text-align: center;
    display: none;
    margin-bottom: 5%;
    padding-bottom: 2%;
    margin-top: 5%;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.questions {
    font-size: 25px;
}

.ques,
label {
    padding: 1%;
}

header {
    font-size: 60px;
    color: rgb(3, 3, 3);
    margin-top: 2%;
    color: black;
    -webkit-text-fill-color: red; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}